body {
    background-color: lightblue;
}

#search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#search-input {
    width: fit-content;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    text-align: center;
    background-color: rgb(168, 191, 214);
}