body {
    background-color: lightblue;
}

#search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#search-input {
    width: 300px;
    box-sizing: border-box;
    font-size: 16px;
}

#pokemonList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    text-align: center;
    background-color: rgb(168, 191, 214);
}