body {
    background-color: lightblue;
}

#search-input {
    width: fit-content;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    text-align: center;
    background-color: lightslategray;
}